#files-container{
    background-color: cadetblue;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

tr{
   background-color: aliceblue;
}

#head-row{
    background-color: cadetblue;
}

form{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
    height: 250px;
}

form div{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
}

form input[type=submit]{
    background-color: rgb(239, 253, 239);
    margin-left: 80px;
    border: none;
    width: 25%;
}
form input[type=submit]:hover{
    background-color: rgb(217, 223, 217);
    cursor: pointer;
}

#content-input{
    max-width: 200px;
    max-height: 100px;
    height: 100px;
}

a{
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    color: black;
}

.download-link{
    
    background-color: coral;
}

.download-link:hover{
    
    background-color: rgb(228, 111, 69);
}

.edit-link{
    background-color: deepskyblue;
}

.edit-link:hover{
    background-color: rgb(5, 170, 225);
}

.delete-link{
    background-color: red;
   
}

.delete-link:hover{
    background-color: rgb(211, 9, 9);
}